/* Custom font, see https://github.com/jpanther/congo/discussions/227 */
html {
    font-family: libre-franklin, sans-serif;
}

.max-logo-height {
    max-width: 5rem;
  }

.max-logo-width {
    max-width: 20rem;
  }

.ps-5 {
    padding-inline-start: 1.25rem;
    padding-inline-end: 0.5rem;
}

@media (max-width: 640px) {
  .logo {
      display: none;
  }
}