/* Custom font, see https://github.com/jpanther/congo/discussions/227 */
html {
    font-family: libre-franklin, sans-serif;
}

.max-logo-height {
    max-width: 5rem;
  }

.max-logo-width {
    max-width: 20rem;
  }

.chairimg {
  max-width:15%;
  display:inline-block;
  padding-right:10px;
  padding-left:10px;
  vertical-align:top;
}

@media (max-width: 1024px) {
  .chairimg {
    max-width:50%;
  }
}